/* ==========================================
   main.css
   These are the final styles for the project.
   Author:   Saddam Arbaa
   Website:  TODO
			========================================== */

/*====== Start Main Rules(Core Styles) ======*/

/* google font(Roboto Condensed) */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

/* CSS Variables */

:root {
  --dark: #333;
  --light: #fff;
  --lightgrey: #f4f4f4;
  --Nero: #262626;
  --grey: #f2f2f2;
  --lightblack: #616161;
  --Gray80: #ccc;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

/*====== End Main Rules ======*


/*====== Start Footer ======*/

/*====== End Footer ======*/
