/* ==========================================
   main.css
   These are the final styles for the project.
   Author:   Saddam Arbaa
   Website:  TODO
			========================================== */

/* google font(Roboto Condensed) */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

/* CSS Variables */

:root {
  --lightGrey: #eee;
  --Grey3: #333;
  --grey4: #4444;
  --Grey8: #888;
  --GreyC: #ccc;
  --GreyF: #f4f4f4f4;
  --white: #fff;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--lightGrey);
  height: auto;
  margin: 0;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 2.2rem;
  text-transform: uppercase;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.main {
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
    -30px 0px 40px rgba(0, 0, 0, 0.1);
}

/*====== Landing Area ======*/

#landing {
  background-color: var(--white);
}

#landing-text {
  display: flex;
  flex: 0 1 40vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

#landing-text h2 {
  color: var(--Grey8);
}

.btn {
  padding: 0.5rem 2rem;
  border: 1px solid var(--GreyC);
  display: inline-block;
  margin: 2rem 0 0;
  border-radius: 50px;
  text-decoration: none;
  color: var(--Grey3);
  transition: background 500ms ease;
}

.btn:hover {
  background-color: var(--GreyF);
}

#landing-image {
  background: url(../images/back.webp) no-repeat center center/cover;
  height: 50vh;
  height: 50vh;
  flex: 0 1 60vh;
  margin: 0;
}

#header {
  padding: 1.5rem;
  text-align: center;
  background: var(--Grey3);
  color: var(--white);
}

#header h2 {
  border-left: 1px dotted var(--white);
  border-right: 1px dotted var(--white);
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}

#caption {
  text-align: center;
  padding: 0.8rem;
}

/*======  Footer ======*/

footer {
  text-align: center;
  padding: 2rem 1rem;
  margin: auto;
  color: var(--Grey3);
}

footer h3 {
  font-size: 3rem;
  margin-bottom: 0;
}

.footer {
  padding: 1.5rem;
  text-align: center;
  background: var(--Grey3);
  color: var(--white);
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.footer .copyright {
  padding-bottom: 1rem;
}

/*====== Media Queries screen size is 500px or larger ======*/

@media (min-width: 500px) {
  #landing {
    display: flex;
    height: 100%;
  }

  #landing-text {
    height: 100vh;
  }

  #landing-image {
    height: 100vh;
  }
}

/*====== Media Queries screen size is 700px or larger ======*/

@media (min-width: 700px) {
  .btn {
    padding: 1rem 3rem;
  }

  .footer {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
  }

  .footer .copyright,
  .footer .design {
    padding: 0 1.5rem 0;
  }
}
